/*body {
				background-image: url('logo.jpg');
				background-size: cover;
				background-repeat: none;
				background-color: #4B2B81;
				color: white;
			}
			*/

			/*font*/
			@font-face {
				font-family: "Lovelo Black";
				src: url("loveloBlack.otf");
			}

			@font-face { 
				font-family: "Casper";
				src: url("casper.ttf");
			}

			a:link, a:visited {
				color: black;
				text-decoration:none;
			}

			a:hover {
				color: purple;
			}

			/*body {
				min-width: 640px;
			}*/

			#banner {
				max-width:800px;
				height: 100px;
				margin: 25 auto;
				font-size: 400%;
				text-align: center;
			}

			#content {
				width: 75%;
				/*max-height: 600px;*/
				margin: 25 auto;
				font-size: 250%;
				text-align: center;
				line-height: 170%;
				margin-top: -30px;
				/*overflow: auto;*/
				background-color: none;
			}

			#links {
				/*position:absolute;
				text-align: center;
				bottom: 100;*/
				margin-top: -30px;
				font-size: 90%;
				padding-bottom: 400px;
			}

			/*width setting margin-left = content width/2*/
			/*#links, #info {
				width: 1000px;
				margin-left: -250px; 
			}
			*/

			#listings {
				/*width: 350px;
				margin-left: 85px;*/
				text-align: center;
			}

			#listings, #info, #press, #news {
				font-family: "Casper", sans-serif;
				font-size: 50%;
				line-height:150%;
			}

			#listings {
				margin-bottom: 20px;
			}

			#info {
				margin-bottom: 40px;
				text-align: center;
			}

			#news {
				text-align: center;
			}

			#press {
				/*text-decoration: underline;*/
			}

			#info {
				margin-bottom: 20px;
			}

			/*#bottom_fade {
				width: 1000px;
				height: 100px;
				z-index: 99;
				position: fixed;
				bottom: 0%;
				background: url("bottom_fade.png") top center no-repeat;
			}*/

			/*background and body, adapted from trix*/
			html { 
			  background: url(logo_66.jpg) no-repeat center center fixed; 
			  -webkit-background-size: cover;
			  -moz-background-size: cover;
			  -o-background-size: cover;
			  background-size: cover;

			  color: black;
			  font-family: "Lovelo Black", sans-serif;
			}